<div class="h-screen flex flex-col lg:flex-row w-full ">
    <div class="w-full lg:w-[450px] text-black  lg:h-full p-12 lg:shadow-slate-300 shadow-xl">
        <div class="h-full py-12 flex flex-col gap-4">
            <h1 class="font-bold text-[2rem] text-primary">Ingresar</h1>
            @if (errorMessage().length > 0) {
                <div>
                    <app-error-alert [message]="errorMessage()"/>
                </div>
            }
            <form  class="flex flex-col gap-8" [formGroup]="formGroup" (ngSubmit)="onSubmitHandler()">
                <div class="flex flex-col gap-4">
                    <div>
                        <app-reactive-form-input
                        label="Nombre de usuario"
                        [id]="'username'"
                        [control]="formGroup.controls.username"
                        [errors]="{ required: 'No puedes dejar este campo vacio' }"
                        />
                    </div>
                    <div>
                        <app-reactive-form-password-input
                        label="Contraseña"
                        [id]="'password'"
                        [control]="formGroup.controls.password"
                        [errors]="{ required: 'No puedes dejar este campo vacio' }"
                        />
                    </div>
                </div>
                <div>
                    <button type="submit" [disabled]="loading()" class="btn w-full lg:w-fit flex flex-col items-center justify-center">
                        @if (!loading()) {
                            Ingresar
                        } @else {
                            <app-loader/>
                        }
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="flex-1 p-12 text-black flex flex-col gap-0">
        <h1 class="font-bold text-[3.2rem] font-sans p-0 m-0 text-primary">Nexus</h1>
        <p class="text-[1.6rem] font-normal text-neutral p-0 m-0">Sistema de Gestion de Restaurante y Reservas</p>
    </div>
</div>