<div class="h-screen flex w-full bg-white">
    <div class="w-[450px] text-black  h-full p-12 shadow-slate-900 shadow-xl">
        <div class="h-full flex flex-col justify-center gap-4">
            <h1 class="font-bold text-[1.6rem]">Ingresar al sistema</h1>
            @if (errorMessage().length > 0) {
                <div>
                    <app-error-alert [message]="errorMessage()"/>
                </div>
            }
            <form  class="flex flex-col gap-4" [formGroup]="formGroup" (ngSubmit)="onSubmitHandler()">
                <div>
                    <label for="username" class="flex flex-col gap-1">
                        <p class="font-sans text-cyan-500">Nombre de usuario</p>
                        <input autocomplete="on" formControlName="username" class="border-b border-cyan-500 w-full p-1 outline-hidden" type="text" name="username" id="username">
                    </label>
                    @if (formGroup.controls.username.getError("required") && formGroup.controls.username.dirty) {
                        <p class="text-red-500">Ingrese el nombre de usuario</p>
                    }
                </div>
                <div>
                    <label for="password" class="flex flex-col gap-1">
                        <p class="font-sans text-cyan-500">Contraseña</p>
                        <input autocomplete="on" formControlName="password" class="border-b border-cyan-500 w-full  p-1 outline-hidden" type="password" name="password" id="password">
                    </label>
                    @if (formGroup.controls.password.getError("required") && formGroup.controls.password.dirty) {
                        <p class="text-red-500">Ingrese la contraseña</p>
                    }
                </div>
                <div>
                    <button [disabled]="loading()" type="submit" class="bg-cyan-500 text-white p-2 px-6 rounded-md border w-full border-none shadow-sm font-sans text-[1.2rem]">
                        @if (loading()) {
                            <app-loader/>
                        } @else {
                            Ingresar
                        }
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="flex-1 p-12 text-black flex flex-col gap-0">
        <h1 class="font-bold text-[3.2rem] font-sans p-0 m-0">Nexus</h1>
        <p class="text-[1.6rem] font-normal text-slate-700 p-0 m-0">Sistema de Gestion de Restaurante y Reservas</p>
    </div>
</div>

<!-- <div class="h-screen w-full flex items-center justify-center">
    <div class="w-[450px] rounded-lg gap-8 border">
        <div class="flex flex-col  gap-6  h-fit self-center">
            <div class="bg-cyan-500 rounded-t-lg p-3 px-6">
                <h1 class="font-sans text-[1.4rem] text-white">Bienvenido</h1>
                <p class="text-white text-[1rem]">Bienvenido</p>
            </div>
            @if (errorMessage().length > 0) {
                <div class="px-3">
                    <app-error-alert [message]="errorMessage()"/>
                </div>
            }
            <form (ngSubmit)="onSubmitHandler()" [formGroup]="formGroup" class="flex flex-col gap-16 p-6">
                <div class="flex flex-col gap-8">
                    <div>
                        <label for="username" class="flex flex-col gap-1">
                            <p class="font-sans text-cyan-500">Nombre de usuario</p>
                            <input autocomplete="on" formControlName="username" class="border-b border-cyan-500 w-full p-1 outline-hidden" type="text" name="username" id="username">
                        </label>
                        @if (formGroup.controls.username.getError("required") && formGroup.controls.username.dirty) {
                            <p class="text-red-500">Ingrese el nombre de usuario</p>
                        }
                    </div>
                    <div>
                        <label for="password" class="flex flex-col gap-1">
                            <p class="font-sans text-cyan-500">Contraseña</p>
                            <input autocomplete="on" formControlName="password" class="border-b border-cyan-500 w-full  p-1 outline-hidden" type="password" name="password" id="password">
                        </label>
                        @if (formGroup.controls.password.getError("required") && formGroup.controls.password.dirty) {
                            <p class="text-red-500">Ingrese la contraseña</p>
                        }
                    </div>
                </div>
                <div>
                    <button [disabled]="loading()" type="submit" class="bg-cyan-500 text-white p-2 px-6 rounded-md border w-full border-none shadow-sm font-sans text-[1.2rem]">
                        @if (loading()) {
                            <app-loader/>
                        } @else {
                            Ingresar
                        }
                    </button>
                </div>
            </form>
        </div>
    </div>
</div> -->
