<div>
    <app-custom-dialog [dialogId]="dialogId()">
        <div class="bg-white shadow p-4 rounded-xl m-auto w-full lg:w-[380px]">
            <div class="flex flex-col gap-6">
                <div class="flex flex-col gap-4">
                    <h1 class="text-center text-[1.2rem] font-sans text-slate-700">Actualizar producto</h1>
                    @if (errorMessage()) {
                        <app-error-alert [message]="errorMessage()"/>
                    }
                    @if (successMessage()) {
                        <app-success-alert [message]="successMessage()"/>
                    }
                </div>
                <form (ngSubmit)="onSubmitHandler()" [formGroup]="formGroup" class="flex flex-col gap-6">
                    <div class="flex flex-col gap-4">
                        <div>
                            <label [htmlFor]="'name'" class="flex flex-col gap-1">
                                <p class="text-slate-700">Nombre</p>
                                <input autocomplete="on" formControlName="name" type="text" name="name" id="name" class="border rounded p-1">
                            </label>
                            @if (formGroup.dirty && formGroup.controls.name.dirty && formGroup.controls.name.getError("required")) {
                                <p class="text-red-500">Ingrese el nombre</p>
                            }
                        </div>
                        <div>
                            <label [htmlFor]="'description'" class="flex flex-col gap-1">
                                <p class="text-slate-700">Descripcion</p>
                                <input autocomplete="on" formControlName="description" type="text" name="description" id="description" class="border rounded p-1">
                            </label>
                            @if ( formGroup.dirty && formGroup.controls.description.dirty && formGroup.controls.description.getError("required")) {
                                <p class="text-red-500">Ingrese la descripcion</p>
                            }
                        </div>
                    </div>
                    <div>
                        <button [disabled]="loading()" class="bg-slate-700 text-white w-full p-2 rounded font-sans text-[1.1rem]">
                            @if (loading()) {
                                <app-loader/>
                            }
                            @else {
                                Actualizar
                            }
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </app-custom-dialog>
    <app-dialog-toggler [dialogId]="dialogId()">
        <h1 class="text-slate-700 text-[1rem]">
            <img class="" src="./svg/edit-svgrepo-com.svg" alt="trash-icon" width="32" height="32">
        </h1>
    </app-dialog-toggler>
</div>